/* baloo-2-regular - latin */
@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 400;
  src: url('./baloo-2-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./baloo-2-v2-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./baloo-2-v2-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./baloo-2-v2-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('./baloo-2-v2-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./baloo-2-v2-latin-regular.svg#Baloo2')
      format('svg'); /* Legacy iOS */
}
/* baloo-2-500 - latin */
@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 500;
  src: url('./baloo-2-v2-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./baloo-2-v2-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./baloo-2-v2-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./baloo-2-v2-latin-500.woff')
      format('woff'),
    /* Modern Browsers */ url('./baloo-2-v2-latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('./baloo-2-v2-latin-500.svg#Baloo2')
      format('svg'); /* Legacy iOS */
}
/* baloo-2-600 - latin */
@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 600;
  src: url('./baloo-2-v2-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./baloo-2-v2-latin-600.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./baloo-2-v2-latin-600.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./baloo-2-v2-latin-600.woff')
      format('woff'),
    /* Modern Browsers */ url('./baloo-2-v2-latin-600.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('./baloo-2-v2-latin-600.svg#Baloo2')
      format('svg'); /* Legacy iOS */
}
/* baloo-2-800 - latin */
@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 800;
  src: url('./baloo-2-v2-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./baloo-2-v2-latin-800.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./baloo-2-v2-latin-800.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./baloo-2-v2-latin-800.woff')
      format('woff'),
    /* Modern Browsers */ url('./baloo-2-v2-latin-800.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('./baloo-2-v2-latin-800.svg#Baloo2')
      format('svg'); /* Legacy iOS */
}
/* baloo-2-700 - latin */
@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 700;
  src: url('./baloo-2-v2-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./baloo-2-v2-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./baloo-2-v2-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./baloo-2-v2-latin-700.woff')
      format('woff'),
    /* Modern Browsers */ url('./baloo-2-v2-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('./baloo-2-v2-latin-700.svg#Baloo2')
      format('svg'); /* Legacy iOS */
}
